// Copyright 2017 Palantir Technologies, Inc. All rights reserved.

@use "@blueprintjs/core/src/common/variables" as *;
@use "@blueprintjs/core/src/components/skeleton/common" as *;
@use "../cell/common" as *;

@keyframes skeleton-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@mixin table-skeleton() {
  .#{$ns}-skeleton {
    animation:
      $cell-transition-duration linear forwards skeleton-fade-in,
      $skeleton-animation;
    animation-delay: 0s, $cell-transition-duration;
    height: $pt-grid-size * 0.5;
    opacity: 0;
  }
}
